XSD/frdcommon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2012-2020 TNO Geologische Dienst Nederland

    Alle rechten voorbehouden.
    Niets uit deze software mag worden vermenigvuldigd en/of openbaar gemaakt door middel van druk, fotokopie,
    microfilm of op welke andere wijze dan ook, zonder voorafgaande toestemming van TNO.

    Indien deze software in opdracht werd uitgebracht, wordt voor de rechten en verplichtingen van opdrachtgever
    en opdrachtnemer verwezen naar de Algemene Voorwaarden voor opdrachten aan TNO, dan wel de betreffende
    terzake tussen de partijen gesloten overeenkomst.

-->
<xs:schema xmlns:brocom="http://www.broservices.nl/xsd/brocommon/3.0"
           xmlns:frdcom="http://www.broservices.nl/xsd/frdcommon/1.0"
           xmlns:gml="http://www.opengis.net/gml/3.2"
           xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
           xmlns:swe="http://www.opengis.net/swe/2.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.broservices.nl/xsd/frdcommon/1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="0.2.0">

    <xs:annotation>
        <xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
            <gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
        </xs:appinfo>
    </xs:annotation>

	<xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="https://schema.broservices.nl/xsd/brocommon/3.0/brocommon.xsd"/>
    <xs:import namespace="http://www.opengis.net/swe/2.0" schemaLocation="https://schema.broservices.nl/profile/swe/1.0/swe-profile.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://schema.broservices.nl/profile/gml/1.0/gml-profile.xsd"/>

    <xs:element name="CalculatedApparentFormationResistance"
               type="frdcom:CalculatedApparentFormationResistanceType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het totaal van formatieweerstand berekeningen.
Explanation: Als bij de Geo-ohmkabel meetmethode onder het IMBR/A-regime de waarde van het attribuut stroompaar van de entiteit Meetconfiguratie ontbreekt, dan kan er geen schijnbare formatieweerstand berekend worden. In dat geval ontbreekt de entiteit Berekende schijnbare formatieweerstand.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="CalculatedApparentFormationResistanceType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="calculationOperator"
                           minOccurs="0"
                           maxOccurs="1"
                           nillable="true"
                           type="brocom:OrganizationType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het KvK-nummer van de onderneming of de maatschappelijke activiteit van de rechtspersoon die voor de bronhouder geldt als verantwoordelijk voor de uitvoering van de berekening van de schijnbare formatieweerstand, of het equivalent daarvan in een handelsregister van een andere lidstaat van de Europese Unie dan Nederland.
Explanation: Het gegeven wordt alleen uitgeleverd aan de dataleverancier en de bronhouder.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="evaluationProcedure"
                           minOccurs="1"
                           maxOccurs="1"
                           nillable="true"
                           type="frdcom:EvaluationProcedureType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>EvaluationProcedure</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het protocol of werkvoorschrift dat is toegepast bij de beoordeling van de kwaliteit van de berekening.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="apparentFormationResistanceSeries"
                           nillable="false"
                           type="swe:DataArrayPropertyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CalculatedApparentFormationResistancePropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="frdcom:CalculatedApparentFormationResistance"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="ElectromagneticMeasurement"
               type="frdcom:ElectromagneticMeasurementType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De kenmerken van de elektromagnetische meting die geleid hebben tot het verkrijgen van een meetreeks van elektromagnetische metingen in een monitoringbuis van een grondwatermonitoringput.
Explanation: Formatieweerstandonderzoek wordt uitgevoerd of volgens de electromagnetische meetmethode of volgens de geoohmkabel meetmethode</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="ElectromagneticMeasurementType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="measurementDate"
                           type="xs:date"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum waarop de meting is uitgevoerd.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="measurementOperator"
                           minOccurs="0"
                           maxOccurs="1"
                           nillable="true"
                           type="brocom:OrganizationType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het KvK-nummer van de onderneming of de maatschappelijke activiteit van de rechtspersoon die voor de bronhouder geldt als verantwoordelijk voor de uitvoering van de meting, of het equivalent daarvan in een handelsregister van een andere lidstaat van de Europese Unie dan Nederland.
Explanation: Het gegeven wordt alleen uitgeleverd aan de dataleverancier en de bronhouder.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="determinationProcedure"
                           minOccurs="1"
                           maxOccurs="1"
                           type="frdcom:DeterminationProcedureType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>DeterminationProcedure</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De procedure die aangeeft onder welke afspraken de bepaling is uitgevoerd.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="evaluationProcedure"
                           minOccurs="1"
                           maxOccurs="1"
                           nillable="true"
                           type="frdcom:EvaluationProcedureType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>EvaluationProcedure</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het protocol of werkvoorschrift dat is toegepast bij de beoordeling van de kwaliteit van de meting.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="measurementSeries"
                           nillable="false"
                           type="swe:DataArrayPropertyType"/>
                    <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="relatedInstrumentConfiguration"
                           nillable="false"
                           type="frdcom:InstrumentConfigurationPropertyByReferenceType"/>
                    <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="relatedCalculatedApparentFormationResistance"
                           nillable="false"
                           type="frdcom:CalculatedApparentFormationResistancePropertyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ElectromagneticMeasurementPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="frdcom:ElectromagneticMeasurement"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GeoElectricMeasurement"
               type="frdcom:GeoElectricMeasurementType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De kenmerken van de geo-ohmkabelmeting die geleid hebben tot het verkrijgen van een reeks meetwaardes gemeten aan een geo-ohmkabel aan een monitoringbuis van een grondwatermonitoringput.
Explanation: Formatieweerstandonderzoek wordt uitgevoerd of volgens de electromagnetische meetmethode of volgens de geoohmkabel meetmethode</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="GeoElectricMeasurementType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="measurementDate"
                           type="xs:date"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum waarop de meting is uitgevoerd.
Explanation: Deze datum is voor gebruikers de belangrijkste datum, omdat dit de datum is waarop meetwaarden betrekking hebben.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="measurementOperator"
                           minOccurs="0"
                           maxOccurs="1"
                           type="brocom:OrganizationType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het KvK-nummer van de onderneming of de maatschappelijke activiteit van de rechtspersoon die voor de bronhouder geldt als verantwoordelijk voor de uitvoering van de meting, of het equivalent daarvan in een handelsregister van een andere lidstaat van de Europese Unie dan Nederland.
Explanation: Het gegeven wordt alleen uitgeleverd aan de dataleverancier en de bronhouder.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="determinationProcedure"
                           minOccurs="1"
                           maxOccurs="1"
                           type="frdcom:DeterminationProcedureType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>DeterminationProcedure</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De procedure die aangeeft onder welke afspraken de bepaling is uitgevoerd.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="evaluationProcedure"
                           minOccurs="1"
                           maxOccurs="1"
                           nillable="true"
                           type="frdcom:EvaluationProcedureType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>EvaluationProcedure</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het protocol of werkvoorschrift dat is toegepast bij de beoordeling van de kwaliteit van de meting.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1"
                           maxOccurs="unbounded"
                           name="measure"
                           nillable="false"
                           type="frdcom:GeoElectricMeasurementValueType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De meetwaarde is de gemeten weerstand over een meetpaar.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="relatedCalculatedApparentFormationResistance"
                           nillable="false"
                           type="frdcom:CalculatedApparentFormationResistancePropertyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GeoElectricMeasurementPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="frdcom:GeoElectricMeasurement"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GroundwaterMonitoringNet"
               type="frdcom:GroundwaterMonitoringNetType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het grondwatermonitoringnet waarin het formatieweerstandonderzoek wordt uitgevoerd.
Explanation: Het registratieobject Grondwatermonitoringnet wordt in een aparte BRO gegevenscatalogus gedefinieerd.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="GroundwaterMonitoringNetType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="broId"
                           minOccurs="1"
                           maxOccurs="1"
                           type="brocom:RegistrationObjectCodeType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De identificatie van het grondwatermonitoringnet in de basisregistratie ondergrond.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GroundwaterMonitoringNetPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="frdcom:GroundwaterMonitoringNet"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="InstrumentConfiguration"
               type="frdcom:InstrumentConfigurationType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De configuratiegegevens van het elektromagnetisch meetinstrument.
Explanation: Het is voor de herleidbaarheid van de gegevens volgens de elektromagnetische meetmethode en de berekende schijnbare schijnbare formatieweerstand verstandig om zoveel mogelijk gegevens van het meetinstrument te achterhalen en vast te leggen.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="InstrumentConfigurationType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="instrumentConfigurationID" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het door de bronhouder aangeleverde identificerend gegeven van de instrumentconfiguratie</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="relativePositionTransmitterCoil"
                           minOccurs="1"
                           maxOccurs="1"
                           nillable="true">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Afstand tussen de bovenkant van het instrument en de zendspoel.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:restriction base="gml:MeasureType">
                                    <xs:attribute name="uom" type="gml:UomIdentifier" use="required" fixed="cm"/>
                                </xs:restriction>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="relativePositionPrimaryReceiverCoil"
                           minOccurs="1"
                           maxOccurs="1"
                           nillable="true">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Afstand tussen bovenkant van het instrument en de eerste elektromagnetische spoel.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:restriction base="gml:MeasureType">
                                    <xs:attribute name="uom" type="gml:UomIdentifier" use="required" fixed="cm"/>
                                </xs:restriction>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="secondaryReceiverCoilAvailable"
                           type="brocom:IndicationYesNoUnknownType"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Indicatie voor de aanwezigheid van een secundaire ontvangstspoel.
Explanation: Het instrument kan twee ontvangstspoelen bevatten. Bij aanwezigheid van een secundaire ontvangstspoel is dit de Short Normal.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="relativePositionSecondaryReceiverCoil"
                           minOccurs="0"
                           maxOccurs="1"
                           nillable="true">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Afstand tussen bovenkant van de instrument en de secundaire elektromagnetische ontvangstspoel.
Explanation: Het meetinstrument kan twee ontvangstspoelen bevatten. Bij aanwezigheid van een tweede spoel is dit de Short Normal.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:restriction base="gml:MeasureType">
                                    <xs:attribute name="uom" type="gml:UomIdentifier" use="required" fixed="cm"/>
                                </xs:restriction>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="coilFrequencyKnown"
                           type="brocom:IndicationYesNoUnknownType"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Indicatie of spoelfrequentie bekend is.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="coilFrequency"
                           minOccurs="0"
                           maxOccurs="1"
                           nillable="true">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De frequentie van een elektrisch of magnetisch veld geeft aan hoe vaak het veld per seconde van richting en sterkte wisselt.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:restriction base="gml:MeasureType">
                                    <xs:attribute name="uom" type="gml:UomIdentifier" use="required" fixed="kHz"/>
                                </xs:restriction>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="instrumentLength"
                           minOccurs="1"
                           maxOccurs="1"
                           nillable="true">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De totale lengte van het instrument.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:restriction base="gml:MeasureType">
                                    <xs:attribute name="uom" type="gml:UomIdentifier" use="required" fixed="cm"/>
                                </xs:restriction>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="InstrumentConfigurationPropertyByReferenceType">
        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="InstrumentConfigurationPropertyByValueType">
        <xs:sequence minOccurs="1">
            <xs:element ref="frdcom:InstrumentConfiguration"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="MeasurementConfiguration"
               type="frdcom:MeasurementConfigurationType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De meetconfiguratie waarmee de geo-ohmkabelmeting is gedaan.
Explanation: Iedere individuele meting aan een geo-ohmkabel wordt aan de hand van een meetconfiguratie gedaan. Een meetconfiguratie bestaat uit één paar meetelektrodes en één paar stroomelektrodes. De meetconfiguratie blijft gedurende het onderzoek ongewijzigd zolang de samenstelling van het meetpaar en elektrodepaar ongewijzigd blijven.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="MeasurementConfigurationType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="measurementConfigurationID" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het door de bronhouder aangeleverde identificerend gegeven van de meetconfiguratie</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="measurementPair"
                           nillable="false"
                           type="frdcom:ElectrodePairType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De samenstelling van het paar meetelektrodes.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="currentPair"
                           nillable="true"
                           type="frdcom:ElectrodePairType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De samenstelling van het paar stroomelektrodes.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MeasurementConfigurationPropertyByReferenceType">
        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="MeasurementConfigurationPropertyByValueType">
        <xs:sequence minOccurs="1">
            <xs:element ref="frdcom:MeasurementConfiguration"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="MonitoringTube"
               type="frdcom:MonitoringTubeType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De gegevens die nodig zijn voor de unieke identificatie van een specifieke buis in een grondwatermonitoringput.
Explanation: De monitoringbuis als onderdeel van het registratieobject Grondwatermonitoringput wordt in een aparte BRO gegevenscatalogus gedefinieerd. De unieke identificatie van een monitoringbuis bestaat uit de combinatie de BRO-ID van de grondwatermonitoringput plus het volgnummer van de specifieke buis in de put.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="MonitoringTubeType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="broId"
                           minOccurs="1"
                           maxOccurs="1"
                           type="brocom:RegistrationObjectCodeType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De identificatie van de grondwatermonitoringbuis in de basisregistratie ondergrond.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="tubeNumber" type="xs:integer" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het identificerende nummer van de monitoringbuis in de grondwatermonitoringput in de basisregistratie ondergrond.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MonitoringTubePropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="frdcom:MonitoringTube"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ElectrodePairType">
        <xs:sequence>
            <xs:element minOccurs="1"
                     maxOccurs="1"
                     name="electrode1"
                     nillable="false"
                     type="frdcom:GMWElectrodeReferenceType">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De eerste elektrode van een elektrodepaar.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1"
                     maxOccurs="1"
                     name="electrode2"
                     nillable="false"
                     type="frdcom:GMWElectrodeReferenceType">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De tweede elektrode van een elektrodepaar.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeoElectricMeasurementValueType">
        <xs:sequence>
            <xs:element name="resistance" minOccurs="1" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De weerstand is de gemeten weerstand over een meetpaar.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:restriction base="gml:MeasureType">
                            <xs:attribute name="uom" type="gml:UomIdentifier" use="required" fixed="Ohm"/>
                        </xs:restriction>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1"
                     maxOccurs="1"
                     name="relatedMeasurementConfiguration"
                     nillable="false"
                     type="frdcom:MeasurementConfigurationPropertyByReferenceType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GMWElectrodeReferenceType">
        <xs:sequence>
            <xs:element name="broId"
                     minOccurs="1"
                     maxOccurs="1"
                     type="brocom:RegistrationObjectCodeType">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De identificatie van de grondwatermonitoringput in de basisregistratie ondergrond</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tubeNumber" type="xs:integer" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het identificerende nummer van de monitoringbuis in de grondwatermonitoringput in de basisregistratie ondergrond.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="cableNumber"
                     type="xs:integer"
                     minOccurs="1"
                     maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het identificerende nummer van de geo-ohmkabel aan de monitoringsbuis van een grondwatermonitoringput in de basisregistratie ondergrond.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="electrodeNumber"
                     type="xs:integer"
                     minOccurs="1"
                     maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het identificerende nummer van de elektrode van een geo-ohmkabel in de grondwatermonitoringput in de basisregistratie ondergrond.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="electrodePosition" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De elektrodepositie van de elektrode aan een geo-ohmkabel in de grondwatermonitoringput in de basisregistratie ondergrond.
Explanation: De positie van een elektrode wordt nooit direct bepaald. Bij inrichting van de grondwatermonitoringput wordt de positie afgeleid van de positie van de bovenkant van de buis.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:restriction base="gml:MeasureType">
                            <xs:attribute name="uom" type="gml:UomIdentifier" use="required" fixed="m"/>
                        </xs:restriction>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="electrodeStatus"
                     minOccurs="1"
                     maxOccurs="1"
                     type="frdcom:ElectrodeStatusType">
                <xs:annotation>
                    <xs:appinfo>
                        <CodeListName>ElectrodeStatus</CodeListName>
                        <CodeListURI/>
                    </xs:appinfo>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De toestand die aangeeft of de elektrode gebruikt kan worden voor grondwatermonitoring.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DeterminationProcedureType">
        <xs:simpleContent>
            <xs:restriction base="gml:CodeWithAuthorityType">
                <xs:attribute name="codeSpace"
                          type="xs:anyURI"
                          use="required"
                          fixed="urn:bro:frd:DeterminationProcedure"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="DeterminationTypeType">
        <xs:simpleContent>
            <xs:restriction base="gml:CodeWithAuthorityType">
                <xs:attribute name="codeSpace"
                          type="xs:anyURI"
                          use="required"
                          fixed="urn:bro:frd:DeterminationType"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="ElectrodeStatusType">
        <xs:simpleContent>
            <xs:restriction base="gml:CodeWithAuthorityType">
                <xs:attribute name="codeSpace"
                          type="xs:anyURI"
                          use="required"
                          fixed="urn:bro:frd:ElectrodeStatus"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="EvaluationProcedureType">
        <xs:simpleContent>
            <xs:restriction base="gml:CodeWithAuthorityType">
                <xs:attribute name="codeSpace"
                          type="xs:anyURI"
                          use="required"
                          fixed="urn:bro:frd:EvaluationProcedure"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="QualityControlStatusType">
        <xs:simpleContent>
            <xs:restriction base="gml:CodeWithAuthorityType">
                <xs:attribute name="codeSpace"
                          type="xs:anyURI"
                          use="required"
                          fixed="urn:bro:frd:StatusQualityControl"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>
